body {
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

.container {
  width: 100%;
  flex: 1;
}

* {
  box-sizing:border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}


.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.slide-image {
  height: 400px;
}

.splash-title-header {
  font-family: 'Lato', sans-serif;
  /*font-size: 50px;*/
}

.title, .title:visited {
  font-family: 'Lato', sans-serif;
  font-size: 55px;
  font-weight: 900;
  color: #000 !important;
}

.nav {
  background-color: #000;
  height: 30px;
  display:flex;
  justify-content: flex-end;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: light;
  color: #000;
  margin-right: 25px;
}

.slide-placeholder1 {
  height: 200px;
  width: 100%;
}

.slide-placeholder2 {
  height:200px;
  width: 100%;
}

.slide-placeholder3 {
  height: 200px;
  width: 100%;
}
/*
.cities {
  font-size: 72px;
  text-align: center;
} */

.footer {
  background-color: #000;
  height: 30px;
}

.icons {
  height: 15px;
  width: 15px;
}

/*  MODAL */
.login-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.signup-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:70%
}
.signup-modal-content {
    background-color: red;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:70%
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-signup-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close-signup-modal:hover,
.close:focus,
.close-signup-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
