<% include partials/header %>
  <% include partials/nav %>
  
<% if(blogPosts) { %>
  <div class="postTitles">
    <ul>
      <% blogPosts.forEach(function(post) { %>
        <a href="/posts/<%= post.user_id %>/<%= post.id%>">
          <li>
            <%= post.title %>
          </li>
        </a>
        <% }); %>
    </ul>
  </div>
  <% } else { %>
    <h1>This city doesn't have any reviews yet.</h1>
  <% } %>


<% include partials/footer %>