<% include partials/header %>
<% include partials/nav %>

  <p class="blog">
    <% if(post) { %>
      <h1><%= post.title %></h1>
      <br>
      <h4><%= post.first_name %> <%= post.last_name %></h4>
      <br>
      <br>
      <section>
      <%= post.blog %>
      </section>
      <% } %>
  </p>

  <form action="/post" method="get">
    <input name="title" placeholder="Title">
    <br>
    <br>
    <textarea name="blog" cols="100" rows="20" placeholder="ENTER THINGS"> </textarea>
  </form>

<% include partials/footer %>
