<% include partials/header %>
  <form action="/post" method="get">
    <input name="post_title" placeholder="Title">
    <textarea name="Text1" cols="100" rows="40"> Enter Things</textarea>
  </form>

<% include partials/footer %>
 
