<% include partials/header %>
<form action="/signup" method="POST">
      <input type="text" placeholder="First Name" name="first_name" required/>
      <br>
      <br>
      <input type="text" placeholder="Last Name" name="last_name" required/>
      <br>
      <br>
      <input type="text" placeholder="Email" name="email" required/>
      <br>
      <br>
      <input type="text" placeholder="City" name="city" required/>
      <br>
      <br>
      <input type="password" placeholder="passowrd" name="password" required/>
      <br>
      <br>
      <button>Submit</button>
    </form>
    <% include partials/footer %>
