<% include partials/splash-header %>
<% include partials/nav %>

<!--<div class="container">-->
  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img class="slide-image" src="/images/image4.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img class="slide-image" src="/images/image7.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img class="slide-image" src="/images/image010.jpg" style="width:100%">
    </div>

    <div class ="words">
      <p>
        Lorem ipsum dolor amet affogato thundercats stumptown meditation yr, tilde truffaut photo booth seitan. XOXO yuccie paleo, umami skateboard chambray cliche occupy. Semiotics master cleanse bushwick, drinking vinegar mustache yuccie single-origin coffee enamel pin. Next level 3 wolf moon truffaut enamel pin PBR.
      </p>
    </div>


    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</div>
<% include partials/footer %>
