<div class="nav">
  <button class="nav-link">Sign Up</a>
  <button class="nav-link login">Log In</a>
</div>

<!-- The Modal -->
<div class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form>
      <input type="text" placeholder="email" name="email">
      <br>
      <br>
      <input type="text" placeholder="passowrd" name="password">
    </form>
  </div>

</div>
