<div class="nav">
  <button class="nav-link signup-button">Sign Up</a>
  <button class="nav-link login-button">Log In</a>
</div>

<!-- LOGIN Modal -->
<div class="login-modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form>
      <input type="text" placeholder="email" name="email" required/>
      <br>
      <br>
      <input type="password" placeholder="passowrd" name="password" required/>
    </form>
  </div>
</div>

<!-- SIGNUP Modal -->
<div class="signup-modal">
  <!-- Modal content -->
  <div class="signup-modal-content">
    <span class="close-signup-modal">&times;</span>
    <form action="/signup" method="POST">
      <input type="text" placeholder="First Name" name="first_name" required/>
      <br>
      <br>
      <input type="text" placeholder="Last Name" name="last_name" required/>
      <br>
      <br>
      <input type="text" placeholder="email" name="email">
      <br>
      <br>
      <input type="password" placeholder="passowrd" name="password">
      <br>
      <br>
      <button>Submit</button>
    </form>
  </div>
</div>
